CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_UPLOAD_PRESET=give_signed_preset
CLOUDINARY_WEBHOOK_SECRET=
WEBHOOK_URL=http://localhost:4000/v1/webhooks/cloudinary
DATABASE_URL=postgres://postgres:postgres@localhost:5432/gvie
REDIS_URL=redis://localhost:6379
API_PORT=4000
ALIGN_PORT=5001
WEB_PORT=3000
